/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input, textarea, select, button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0;
  text-align: left;
}
